<h3>{{#link-to 'week' model.week}}{{fa-icon "caret-square-o-left"}}{{/link-to}}{{model.type}}</h3>

<ul class="workouts">
{{#each model.workouts as |workout|}}
    {{workout-row workout=workout day=model.id store=store}}
{{/each}}
</ul>