<h3 data-week={{model.id}}>{{#link-to 'weeks'}}{{fa-icon "caret-square-o-left"}}{{/link-to}}Week {{model.id}}</h3>

<ul class="days">
{{#each model.days as |day index|  }}
    <li>{{#link-to 'day' day}}{{day.type}}{{/link-to}}
    <div class="boxes">
    {{#each day.workouts as |workout|}}
    {{#if workout.completed}}
        {{fa-icon "dot-circle-o"}}
    {{else}}
        {{fa-icon "circle-o"}}
    {{/if}}
    {{/each}}
    </div>
    </li>
{{/each}}
</ul>